<%- include("header.ejs") -%>
    <div class="box" id="heading">
        <h1><%= date %></h1>
    </div>

    <div class="box">  
        <% for(var i =0; i < toDoItems.length; i++){ %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input name="checkbox" value="<%= toDoItems[i].id %>" type="checkbox" onchange="this.form.submit()"><!--oncchange отправляет запрос после нажатия на чекбокс-->
                    <p><%= toDoItems[i].description %></p><!--description - определяет что за объект-->
                </div>
            </form>
        <% } %>
        <form action="/" class="class" method="POST">
            <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
<%- include("footer.ejs")-%>