<%- include("header.ejs") -%>
    <div class="box" id="heading">
        <h1><%= date %></h1>
    </div>

    <div class="box">  
        <% for(var i =0; i < toDoWork.length; i++){ %>
            <form action="/deleteWork" method="POST">
                <div class="item">
                    <input name="workcheckbox" value="<%= toDoWork[i].description %>" type="checkbox" onchange="this.form.submit()"><!--oncchange отправляет запрос после нажатия на чекбокс-->
                    <p><%= toDoWork[i].description %></p><!--description - определяет что за объект-->
                </div>
            </form>
        
        <% } %>
        <form action="/work" class="class" method="POST">
            <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
<%- include("footer.ejs")-%>